# Git user configuration
# Include this file from your main git config with:
# [include]
#     path = ~/.config/git/credentials

[user]
    name = {{ .name }}
    email = {{ .email }}
    # signingkey = YOUR_GPG_KEY_ID
