---
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
        exclude: '.*\.zsh$'
    -   id: check-shebang-scripts-are-executable
        exclude: '.*\.zsh$'
    -   id: mixed-line-ending
        args: [--fix=lf]
    -   id: detect-private-key

-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--severity=warning]
        exclude: '.*\.zsh$'

-   repo: https://github.com/adrienverge/yamllint.git
    rev: v1.33.0
    hooks:
    -   id: yamllint
        args: [--strict]

-   repo: https://github.com/zricethezav/gitleaks
    rev: v8.18.1
    hooks:
    -   id: gitleaks

-   repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
    -   id: forbid-binary
        exclude: '.*\.(png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf)$'
    -   id: git-check

-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
    -   id: forbid-crlf
    -   id: remove-crlf
    -   id: forbid-tabs
        exclude: '^(Makefile|\.git)'
    -   id: remove-tabs
        exclude: '^(Makefile|\.git)'