name: Create Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    name: Build and Create Release
    runs-on: macos-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Build package
        run: |
          chmod +x ./build.sh
          ./build.sh
      
      - name: Get version from tag
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
      
      - name: Get Changelog Entry
        id: changelog_reader
        uses: mindsers/changelog-reader-action@v2.2.0
        with:
          version: ${{ env.VERSION }}
          path: ./CHANGELOG.md
      
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release v${{ env.VERSION }}
          tag_name: v${{ env.VERSION }}
          body: ${{ steps.changelog_reader.outputs.changes }}
          files: |
            build/MacGTD-Native-v${{ env.VERSION }}.zip
          draft: false
          prerelease: false